## This notebook contains Python code for analyzing data relevant to airlines

In [2]:
import pandas as pd
import numpy as np

import pymysql as mysql
import getpass

import matplotlib.pyplot as plt
import seaborn as sns

We need to connect to MySQL server, and specifically connect to the `ads507airlines` database. Then we verify the connection with a SQL command to show all tables.

In [3]:
conn=mysql.connect(host='localhost',
                   port=int(3306),
                   user='root',
                   passwd=getpass.getpass('Enter password: '),
                   db='ads507airlines')

Enter password:  ···············

In [5]:
tableNames = pd.read_sql("""SHOW TABLES""", conn)

tableNames

    Tables_in_ads507airlines
0           airlines_all2018
1           airlines_all2019
2           airlines_all2020
3           airlines_all2021
4           airlines_all2022
..                       ...
144    yearly_timedelay_2018
145    yearly_timedelay_2019
146    yearly_timedelay_2020
147    yearly_timedelay_2021
148    yearly_timedelay_2022

[149 rows x 1 columns]

In [6]:
for i in tableNames['Tables_in_ads507airlines']:
    print(i)

airlines_all2018
airlines_all2019
airlines_all2020
airlines_all2021
airlines_all2022
daily_delays_iah2018
daily_delays_iah2019
daily_delays_iah2020
daily_delays_iah2021
daily_delays_iah2022
daily_delays_jfk2018
daily_delays_jfk2019
daily_delays_jfk2020
daily_delays_jfk2021
daily_delays_jfk2022
daily_delays_san2018
daily_delays_san2019
daily_delays_san2020
daily_delays_san2021
daily_delays_san2022
daily_delays_sea2018
daily_delays_sea2019
daily_delays_sea2020
daily_delays_sea2021
daily_delays_sea2022
daily_weather_iah2018
daily_weather_iah2019
daily_weather_iah2020
daily_weather_iah2021
daily_weather_iah2022
daily_weather_jfk2018
daily_weather_jfk2019
daily_weather_jfk2020
daily_weather_jfk2021
daily_weather_jfk2022
daily_weather_san2018
daily_weather_san2019
daily_weather_san2020
daily_weather_san2021
daily_weather_san2022
daily_weather_sea2018
daily_weather_sea2019
daily_weather_sea2020
daily_weather_sea2021
daily_weather_sea2022
delays_weather_iah2018
delays_weather_iah2019
delays_weather_iah2020
delays_weather_iah2021
delays_weather_iah2022
delays_weather_iah_allyears
delays_weather_jfk2018
delays_weather_jfk2019
delays_weather_jfk2020
delays_weather_jfk2021
delays_weather_jfk2022
delays_weather_jfk_allyears
delays_weather_san2018
delays_weather_san2019
delays_weather_san2020
delays_weather_san2021
delays_weather_san2022
delays_weather_san_allyears
delays_weather_sea2018
delays_weather_sea2019
delays_weather_sea2020
delays_weather_sea2021
delays_weather_sea2022
delays_weather_sea_allyears
destinations_2018
destinations_2019
destinations_2020
destinations_2021
destinations_2022
flights_all2018
flights_all2019
flights_all2020
flights_all2021
flights_all2022
holidays_2018
holidays_2019
holidays_2020
holidays_2021
holidays_2022
monthly_flights_iah2018
monthly_flights_iah2019
monthly_flights_iah2020
monthly_flights_iah2021
monthly_flights_iah2022
monthly_flights_jfk2018
monthly_flights_jfk2019
monthly_flights_jfk2020
monthly_flights_jfk2021
monthly_flights_jfk2022
monthly_flights_san2018
monthly_flights_san2019
monthly_flights_san2020
monthly_flights_san2021
monthly_flights_san2022
monthly_flights_sea2018
monthly_flights_sea2019
monthly_flights_sea2020
monthly_flights_sea2021
monthly_flights_sea2022
seasonal2018
seasonal2019
seasonal2020
seasonal2021
seasonal2022
time_of_day2018
time_of_day2019
time_of_day2020
time_of_day2021
time_of_day2022
weather_iah2018
weather_iah2019
weather_iah2020
weather_iah2021
weather_iah2022
weather_jfk2018
weather_jfk2019
weather_jfk2020
weather_jfk2021
weather_jfk2022
weather_san2018
weather_san2019
weather_san2020
weather_san2021
weather_san2022
weather_sea2018
weather_sea2019
weather_sea2020
weather_sea2021
weather_sea2022
yearly_delay2018
yearly_delay2019
yearly_delay2020
yearly_delay2021
yearly_delay2022
yearly_delay_2018
yearly_delay_2019
yearly_delay_2020
yearly_delay_2021
yearly_delay_2022
yearly_timedelay_2018
yearly_timedelay_2019
yearly_timedelay_2020
yearly_timedelay_2021
yearly_timedelay_2022

In [18]:
query_string = """
SELECT * FROM yearly_Timedelay_2018
UNION
SELECT * FROM yearly_Timedelay_2019
UNION
SELECT * FROM yearly_Timedelay_2020
UNION
SELECT * FROM yearly_Timedelay_2021
UNION
SELECT * FROM yearly_Timedelay_2022;"""

timedelay_df = pd.read_sql(query_string, conn)

timedelay_df

      carrier origin dest  year  AVGdepdelay  AVGarrdelay    Flight_Time
0          HA    JFK  HNL  2018       1348.0       1316.0  Early Morning
1          OO    IAH  CHS  2018       1295.0       1336.0        Morning
2          NK    IAH  FLL  2018       1283.0       1301.0        Morning
3          NK    SAN  ORD  2018       1200.5       1217.0        Morning
4          NK    SAN  DFW  2018       1166.0       1177.5      Afternoon
...       ...    ...  ...   ...          ...          ...            ...
16280      G4    SAN  AZA  2022        -10.5          6.0  Early Morning
16281      YV    IAH  CRP  2022        -11.0         -6.0        Morning
16282      UA    IAH  BDL  2022        -11.5        -18.0        Evening
16283      UA    IAH  PIT  2022        -12.0        -10.0        Evening
16284      UA    IAH  ABQ  2022        -13.0        -23.0  Early Morning

[16285 rows x 7 columns]

### Example for airlines wanting to understand typical flight delays to specific destinations

In [29]:
average_delays_df = timedelay_df.groupby(['carrier','dest'])[['AVGdepdelay','AVGarrdelay']].mean().reset_index()

np.round(average_delays_df.rename(columns={'AVGdepdelay':"Avg Departure delay",
                                           'AVGarrdelay':'Avg Arrival delay'}),1)

    carrier dest  Avg Departure delay  Avg Arrival delay
0        9E  ACK                 57.3               55.3
1        9E  ATL                 36.6               29.9
2        9E  BGR                 82.6               72.3
3        9E  BNA                 18.2                5.5
4        9E  BOS                  6.0               -3.9
..      ...  ...                  ...                ...
905      YX  SYR                 20.2                4.0
906      YX  TPA                 -5.4              -13.6
907      YX  TUL                  4.9                0.8
908      YX  TYS                 13.3               11.0
909      YX  XNA                 16.5               13.0

[910 rows x 4 columns]

### Example for airlines wanting to understand typical flight delays out of specific airports

In [30]:
average_delays_df = timedelay_df.groupby(['carrier','origin'])[['AVGdepdelay','AVGarrdelay']].mean().reset_index()

np.round(average_delays_df.rename(columns={'AVGdepdelay':"Avg Departure delay",
                                           'AVGarrdelay':'Avg Arrival delay'}),1)

   carrier origin  Avg Departure delay  Avg Arrival delay
0       9E    IAH                 60.9               51.9
1       9E    JFK                 38.6               28.3
2       AA    IAH                 60.4               55.2
3       AA    JFK                 38.3               29.1
4       AA    SAN                 64.0               56.4
5       AA    SEA                 87.3               78.6
6       AS    IAH                 58.8               58.0
7       AS    JFK                 28.5               19.2
8       AS    SAN                 47.1               41.9
9       AS    SEA                 20.6               15.6
10      B6    IAH                111.3              103.4
11      B6    JFK                 34.5               26.3
12      B6    SAN                110.1              105.0
13      B6    SEA                 72.0               65.2
14      DL    IAH                 41.8               34.4
15      DL    JFK                 51.2               38.6
16      DL    SAN                 34.8               27.8
17      DL    SEA                 54.3               45.8
18      EV    IAH                 33.4               30.7
19      F9    IAH                 48.4               45.1
20      F9    SAN                 45.2               37.9
21      F9    SEA                 29.0               23.7
22      G4    SAN                 34.8               36.8
23      HA    JFK                470.9              435.0
24      HA    SAN                164.7              151.9
25      HA    SEA                164.5              154.7
26      MQ    IAH                 45.4               41.3
27      MQ    JFK                 36.1               32.5
28      NK    IAH                 54.0               49.9
29      NK    SAN                119.1              115.3
30      NK    SEA                115.2              111.6
31      OH    IAH                 20.8               11.1
32      OH    JFK                 40.0               31.7
33      OO    IAH                 67.5               62.9
34      OO    JFK                 49.5               43.7
35      OO    SAN                 19.6               16.4
36      OO    SEA                 31.0               24.4
37      QX    SAN                  8.0                5.2
38      QX    SEA                 14.2               10.8
39      UA    IAH                 34.3               27.7
40      UA    JFK                167.4              148.1
41      UA    SAN                 27.1               21.0
42      UA    SEA                 27.8               19.7
43      VX    JFK                  6.2                0.3
44      VX    SAN                 12.2                9.6
45      VX    SEA                 16.5               11.5
46      WN    IAH                 14.1                7.2
47      WN    SAN                 13.4                5.9
48      WN    SEA                 15.5                6.3
49      YV    IAH                 55.5               49.4
50      YV    SAN                 -6.6              -32.9
51      YX    IAH                 19.8               14.9
52      YX    JFK                 29.5               23.0
53      YX    SEA                 13.4               -0.2

### Example reviewing delays to destinations from specific airports, regardless of airline

In [34]:
average_delays_df = timedelay_df.groupby(['dest','origin'])[['AVGdepdelay','AVGarrdelay']].mean().reset_index()

np.round(average_delays_df.rename(columns={'AVGdepdelay':"Avg Departure delay",
                                           'AVGarrdelay':'Avg Arrival delay'}),1)

    dest origin  Avg Departure delay  Avg Arrival delay
0    ABI    IAH                181.6              148.4
1    ABQ    IAH                 43.1               39.3
2    ABQ    JFK                 10.0               -6.1
3    ABQ    SAN                 11.9                7.0
4    ABQ    SEA                  9.6                3.5
..   ...    ...                  ...                ...
387  TYS    IAH                 31.9               25.9
388  VCT    IAH                127.4               97.3
389  VPS    IAH                 90.0               86.7
390  XNA    IAH                 43.2               38.0
391  YKM    SEA                 27.2               22.6

[392 rows x 4 columns]