## This notebook contains Python code for analyzing data relevant to airlines

In [1]:
import pandas as pd
import numpy as np

import pymysql as mysql
import getpass

import matplotlib.pyplot as plt
import seaborn as sns

We need to connect to MySQL server, and specifically connect to the `ads507airlines` database. Then we verify the connection with a SQL command to show all tables.

In [2]:
conn=mysql.connect(host='localhost',
                   port=int(3306),
                   user='root',
                   passwd=getpass.getpass('Enter password: '),
                   db='ads507airlines')

Enter password:  ···············

In [3]:
tableNames = pd.read_sql("""SHOW TABLES""", conn)

tableNames

    Tables_in_ads507airlines
0           airlines_all2018
1           airlines_all2019
2           airlines_all2020
3           airlines_all2021
4           airlines_all2022
..                       ...
144    yearly_timedelay_2018
145    yearly_timedelay_2019
146    yearly_timedelay_2020
147    yearly_timedelay_2021
148    yearly_timedelay_2022

[149 rows x 1 columns]

In [4]:
for i in tableNames['Tables_in_ads507airlines']:
    print(i)

airlines_all2018
airlines_all2019
airlines_all2020
airlines_all2021
airlines_all2022
daily_delays_iah2018
daily_delays_iah2019
daily_delays_iah2020
daily_delays_iah2021
daily_delays_iah2022
daily_delays_jfk2018
daily_delays_jfk2019
daily_delays_jfk2020
daily_delays_jfk2021
daily_delays_jfk2022
daily_delays_san2018
daily_delays_san2019
daily_delays_san2020
daily_delays_san2021
daily_delays_san2022
daily_delays_sea2018
daily_delays_sea2019
daily_delays_sea2020
daily_delays_sea2021
daily_delays_sea2022
daily_weather_iah2018
daily_weather_iah2019
daily_weather_iah2020
daily_weather_iah2021
daily_weather_iah2022
daily_weather_jfk2018
daily_weather_jfk2019
daily_weather_jfk2020
daily_weather_jfk2021
daily_weather_jfk2022
daily_weather_san2018
daily_weather_san2019
daily_weather_san2020
daily_weather_san2021
daily_weather_san2022
daily_weather_sea2018
daily_weather_sea2019
daily_weather_sea2020
daily_weather_sea2021
daily_weather_sea2022
delays_weather_iah2018
delays_weather_iah2019
delays_weather_iah2020
delays_weather_iah2021
delays_weather_iah2022
delays_weather_iah_allyears
delays_weather_jfk2018
delays_weather_jfk2019
delays_weather_jfk2020
delays_weather_jfk2021
delays_weather_jfk2022
delays_weather_jfk_allyears
delays_weather_san2018
delays_weather_san2019
delays_weather_san2020
delays_weather_san2021
delays_weather_san2022
delays_weather_san_allyears
delays_weather_sea2018
delays_weather_sea2019
delays_weather_sea2020
delays_weather_sea2021
delays_weather_sea2022
delays_weather_sea_allyears
destinations_2018
destinations_2019
destinations_2020
destinations_2021
destinations_2022
flights_all2018
flights_all2019
flights_all2020
flights_all2021
flights_all2022
holidays_2018
holidays_2019
holidays_2020
holidays_2021
holidays_2022
monthly_flights_iah2018
monthly_flights_iah2019
monthly_flights_iah2020
monthly_flights_iah2021
monthly_flights_iah2022
monthly_flights_jfk2018
monthly_flights_jfk2019
monthly_flights_jfk2020
monthly_flights_jfk2021
monthly_flights_jfk2022
monthly_flights_san2018
monthly_flights_san2019
monthly_flights_san2020
monthly_flights_san2021
monthly_flights_san2022
monthly_flights_sea2018
monthly_flights_sea2019
monthly_flights_sea2020
monthly_flights_sea2021
monthly_flights_sea2022
seasonal2018
seasonal2019
seasonal2020
seasonal2021
seasonal2022
time_of_day2018
time_of_day2019
time_of_day2020
time_of_day2021
time_of_day2022
weather_iah2018
weather_iah2019
weather_iah2020
weather_iah2021
weather_iah2022
weather_jfk2018
weather_jfk2019
weather_jfk2020
weather_jfk2021
weather_jfk2022
weather_san2018
weather_san2019
weather_san2020
weather_san2021
weather_san2022
weather_sea2018
weather_sea2019
weather_sea2020
weather_sea2021
weather_sea2022
yearly_delay2018
yearly_delay2019
yearly_delay2020
yearly_delay2021
yearly_delay2022
yearly_delay_2018
yearly_delay_2019
yearly_delay_2020
yearly_delay_2021
yearly_delay_2022
yearly_timedelay_2018
yearly_timedelay_2019
yearly_timedelay_2020
yearly_timedelay_2021
yearly_timedelay_2022